Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Ensure stackname used by apigee requests are lower case
  packages/specification/scripts/deploy_api.ts
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Remove constructs from this repo, and use the definitions in cdk-utils
  package-lock.json
  packages/cdk/constructs/RestApiGateway.ts
  packages/cdk/constructs/RestApiGateway/LambdaEndpoint.ts
  packages/cdk/constructs/RestApiGateway/StateMachineEndpoint.ts
  packages/cdk/constructs/RestApiGateway/accessLogFormat.ts
  packages/cdk/constructs/RestApiGateway/templates/stateMachineRequest.ts
  packages/cdk/constructs/RestApiGateway/templates/stateMachineResponses.ts
  packages/cdk/constructs/StateMachine.ts
  packages/cdk/constructs/StateMachine/CatchAllErrorPass.ts
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
  packages/cdk/resources/StateMachineDefinitions/ClinicalView.ts
  packages/cdk/resources/StateMachines.ts
Due: lint-cdk

Lower version name for Apigee target
  packages/specification/scripts/deploy_api.ts
Due: none

picomatch, not exposed to vulnerability
  .grype.yaml
Due: none

Prepare for review
  .github/workflows/pull_request.yml
  packages/specification/scripts/deploy_api.ts
Due: lint-githubactions

Fix package lock
  package-lock.json
  packages/cdk/package.json
Due: lint-cdk

Chore: [AEA-6254] - Remove constructs from this repo, and use the definitions in cdk-utils (#1878)
  .grype.yaml
  package-lock.json
  packages/cdk/constructs/RestApiGateway.ts
  packages/cdk/constructs/RestApiGateway/LambdaEndpoint.ts
  packages/cdk/constructs/RestApiGateway/StateMachineEndpoint.ts
  packages/cdk/constructs/RestApiGateway/accessLogFormat.ts
  packages/cdk/constructs/RestApiGateway/templates/stateMachineRequest.ts
  packages/cdk/constructs/RestApiGateway/templates/stateMachineResponses.ts
  packages/cdk/constructs/StateMachine.ts
  packages/cdk/constructs/StateMachine/CatchAllErrorPass.ts
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
  packages/cdk/resources/StateMachineDefinitions/ClinicalView.ts
  packages/cdk/resources/StateMachines.ts
Due: lint-cdk

Pass in service name
  packages/cdk/bin/CptsApiApp.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/CptsApiStack.ts
Due: lint-cdk

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Optional trust store
  packages/cdk/resources/Apis.ts
Due: lint-cdk

bump dev container version
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

Chore: [AEA-0000] - bump dev container version to 1.4.8 (#1879)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

add gitleaks
  .gitallowed
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

fix
  grype.yaml
Due: none

fix
  .grype.yaml
  grype.yaml
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
