Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Add a unique stack ID to API Gateway resources, to allow for roll back stack of similar version as previously deployed
  .github/workflows/pull_request.yml
  packages/cdk/constructs/RestApiGateway.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/CptsApiStack.ts
Due: lint-cdk, lint-githubactions

Fix PR run to qa
  .github/workflows/pull_request.yml
Due: lint-githubactions

Use stackID not logical ID
  packages/cdk/stacks/CptsApiStack.ts
Due: lint-cdk

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

[AEA-6439] update course of therapy type coding to be dependent on therapy type
  packages/clinicalView/src/fhirMaps.ts
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/medicationRequest.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

[AEA-6439] misc cleanup
  packages/clinicalView/src/fhirMaps.ts
  packages/clinicalView/src/schema/medicationRequest.ts
Due: lint-clinical-view-lambda

[AEA-6439] misc cleanup
  packages/clinicalView/src/generateFhirResponse.ts
Due: lint-clinical-view-lambda

Fix: [AEA-6438] - Add self refence to actions (#1854)
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/actions.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

Update eps-clinical-prescription-tracker-api.yaml
  packages/specification/eps-clinical-prescription-tracker-api.yaml
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
