Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

uprgade all eslint
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  eff717eb25200bd9dedc1622aa6d78a728f335e4
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Fix: [AEA-6434] - Correct prescription history extension reference (#1839)
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
  packages/common/commonTypes/src/schema/extensions.ts
  packages/prescriptionSearch/src/generateFhirResponse.ts
  packages/prescriptionSearch/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda, lint-prescription-search

[AEA-6436] adds generic snowmed code for medicationCodableConcept
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/elements.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

sync copilot
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

Fix: [AEA-6436] - Add generic SNOWMED coding for medicationCodeableConcept (#1849)
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/elements.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

[AEA-6437] add quantity code and system
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/elements.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

fix
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/update_dev_container_version.yml
  .pre-commit-config.yaml
Due: lint-githubactions

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
