Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

fix
  .gitleaksignore
Due: none

Update eps-cdk-utils and fix prop names
  package-lock.json
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
Due: lint-cdk

Notes added by 'git notes add'
  88fff100a66cdc428732934171888048e0abe6ad
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Add Dependabot schedule and remove dependabot-auto-approve-and-merge job
  .github/CODEOWNERS
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix: [AEA-6523] - Add a unique stack ID to API Gateway resources, to allow for roll back (#1858)
  package-lock.json
  packages/cdk/bin/CptsApiApp.ts
  packages/cdk/package.json
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/CptsApiStack.ts
  packages/specification/scripts/deploy_api.ts
Due: lint-cdk

[AEA-6440] adds missing medication repeat information extension for medication requests
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/parseSpineResponse.ts
  packages/clinicalView/src/schema/extensions.ts
  packages/clinicalView/src/schema/medicationRequest.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
  packages/clinicalView/tests/testParseSpineResponse.test.ts
Due: lint-clinical-view-lambda

Chore: [AEA-0000] - add dependabot approve schedule (#1896)
  .github/CODEOWNERS
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Notes added by 'git notes add'
  8dcfc75bc10d2056fe3c2956c9454ab7aab3905b
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Chore: [AEA-0000] - use gitleaks for secret scanning (#1880)
  .gitallowed
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

Fix: [AEA-6440] - Adds missing MedicationRepeatInformation extension to MedicationRequests (#1897)
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/parseSpineResponse.ts
  packages/clinicalView/src/schema/extensions.ts
  packages/clinicalView/src/schema/medicationRequest.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
  packages/clinicalView/tests/testParseSpineResponse.test.ts
Due: lint-clinical-view-lambda

Adds ignore
  .github/dependabot.yml
Due: lint-githubactions

bundler module resolution, defined types
  tsconfig.defaults.json
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
