Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Chore: [AEA-0000] - sync copilot (#1850)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/sync_copilot.yml
  .pre-commit-config.yaml
Due: lint-githubactions

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Fix: [AEA-6437] - Add quantity code and system (#1851)
  packages/clinicalView/src/generateFhirResponse.ts
  packages/clinicalView/src/schema/elements.ts
  packages/clinicalView/tests/testGenerateFhirResponse.test.ts
Due: lint-clinical-view-lambda

fix workflows
  .devcontainer/devcontainer.json
  .gitallowed
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  zizmor.yml
Due: lint-githubactions

setup grype
  .grype.yaml
  .pre-commit-config.yaml
Due: none

testing pre-commit
  .grype.yaml
Due: none

testing pre-commit
  .pre-commit-config.yaml
Due: none

test
  .pre-commit-config.yaml
Due: none

try it
  .pre-commit-config.yaml
Due: none

try new common
  .github/workflows/pull_request.yml
Due: lint-githubactions

more permissions
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

more permissions
  .github/workflows/pull_request.yml
Due: lint-githubactions

more
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix vuln
  .grype.yaml
Due: none

remove trivy
  .trivyignore
  .trivyignore.yaml
  trivy.yaml
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

fix it
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

try new hook
  .pre-commit-config.yaml
Due: none

default no permissions
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/sync_copilot.yml
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

update config
  zizmor.yml
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
