Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        files: \.(sh)$

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: https://github.com/pycqa/flake8
    rev: "7ef0350a439c93166bc8ba89fcc3de6a9a664e6c" # release 6.1.0
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: lint-cdk
        name: Lint cdk
        entry: npm
        args: ["run", "--prefix=packages/cdk", "lint"]
        language: system
        files: ^packages\/cdk
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-status
        name: Lint status
        entry: npm
        args: ["run", "--prefix=packages/status", "lint"]
        language: system
        files: ^packages\/status
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-sandbox
        name: Lint sandbox
        entry: npm
        args: ["run", "--prefix=packages/sandbox", "lint"]
        language: system
        files: ^packages\/sandbox
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-common-testing
        name: Lint common testing
        entry: npm
        args: ["run", "--prefix=packages/common/testing", "lint"]
        language: system
        files: ^packages\/common\/testing
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-clinical-view-lambda
        name: Lint clinical view lambda
        entry: npm
        args: ["run", "--prefix=packages/clinicalView", "lint"]
        language: system
        files: ^packages\/clinicalView
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-prescription-search
        name: Lint prescription search lambda
        entry: npm
        args: ["run", "--prefix=packages/prescriptionSearch", "lint"]
        language: system
        files: ^packages\/prescriptionSearch
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-getSecretLayer
        name: Lint getSecretLayer
        entry: make
        args: ["lint-go"]
        language: system
        files: ^packages\/getSecretLayer
        pass_filenames: false

      - id: lint-cloudformation
        name: Lint cloudformation
        entry: make
        args: ["lint-cloudformation"]
        language: system
        files: ^cloudformation
        pass_filenames: false

      - id: lint-githubactions
        name: Lint github actions
        entry: make
        args: ["lint-githubactions"]
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
      - id: git-secrets
        name: Git Secrets
        description: git-secrets scans commits, commit messages, and --no-ff merges to prevent adding secrets into your git repositories.
        entry: bash
        args:
          - -c
          - 'docker run -v "$LOCAL_WORKSPACE_FOLDER:/src" git-secrets --pre_commit_hook'
        language: system
fail_fast: true
default_stages: [pre-commit]

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Readded shellcheck to check remaining scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .tool-versions
  .vscode/electronic-prescription-service-clinical-prescription-tracker.code-workspace
  Makefile
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Removed redundant scripts and configs
  .cfnlintrc
  .flake8
  .pre-commit-config.yaml
  Makefile
  README.md
  scripts/check_python_licenses.sh
  scripts/run_cfn_guard.sh
Due: none

Fixed regression test workflow's usage of scripts folder
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

removed redundant python package
  poetry.lock
  pyproject.toml
Due: none

Fix: [AEA-5967] - Made stack name unambiguous (#1709)
  .cfnlintrc
  .flake8
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_current_dev_tag.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  packages/cdk/scripts/deleteMainStacks.ts
  packages/cdk/scripts/deletePrStacks.ts
  poetry.lock
  pyproject.toml
  scripts/check_python_licenses.sh
  scripts/run_cfn_guard.sh
Due: lint-cdk, lint-githubactions

Fix: [AEA-5967] - Fixed CDK_CONFIG var name capitalisation
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions
