Repository NHSDigital/electronic-prescription-service-clinical-prescription-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-cdk, lint-status, lint-sandbox, lint-common-testing, lint-clinical-view-lambda, lint-prescription-search, lint-getSecretLayer, lint-cloudformation, lint-githubactions

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-status:
  name: Lint status
  entry: npm
  args:
  - run
  - --prefix=packages/status
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/sandbox
  - lint
  language: system
  pass_filenames: false

lint-common-testing:
  name: Lint common testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-clinical-view-lambda:
  name: Lint clinical view lambda
  entry: npm
  args:
  - run
  - --prefix=packages/clinicalView
  - lint
  language: system
  pass_filenames: false

lint-prescription-search:
  name: Lint prescription search lambda
  entry: npm
  args:
  - run
  - --prefix=packages/prescriptionSearch
  - lint
  language: system
  pass_filenames: false

lint-getSecretLayer:
  name: Lint getSecretLayer
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

lint-cloudformation:
  name: Lint cloudformation
  entry: make
  args:
  - lint-cloudformation
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Fixed API domain deployment to use a fresh copy of the truststore
  packages/cdk/bin/CptsApiApp.ts
  packages/cdk/constructs/RestApiGateway.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/CptsApiStack.ts
Due: lint-cdk

Trivyignore changes
  .trivyignore.yaml
Due: none

Fix: [AEA-5967] - Fixed API domain deployment to use a fresh copy of the truststore (#1725)
  .trivyignore.yaml
  packages/cdk/bin/CptsApiApp.ts
  packages/cdk/constructs/RestApiGateway.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/CptsApiStack.ts
Due: lint-cdk

Fixed packages permission for delete old PR deployments job
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

Prep for new version of deployment utils
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Switched deploy api script to use stored client cert / key
  package-lock.json
  packages/cdk/package.json
  packages/specification/package.json
  packages/specification/scripts/deploy_api.ts
Due: lint-cdk

Trivyignore update
  .trivyignore.yaml
Due: none

Added missing file to artifact
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

Moved proxygen cert files to /tmp
  .github/workflows/cdk_release_code.yml
  packages/specification/scripts/deploy_api.ts
Due: lint-githubactions

Fix: [AEA-5967] - Fixed packages permission for delete old PR deployments job (#1726)
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .trivyignore.yaml
  package-lock.json
  packages/cdk/package.json
  packages/specification/package.json
  packages/specification/scripts/deploy_api.ts
Due: lint-cdk, lint-githubactions

Notes added by 'git notes add'
  d1dc45c19fea044b95e6ccd4c57727fd00cf1afe
Due: none

Path conditions:
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-status: any of: ^packages\/status and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-common-testing: any of: ^packages\/common\/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-clinical-view-lambda: any of: ^packages\/clinicalView and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-prescription-search: any of: ^packages\/prescriptionSearch and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-getSecretLayer: any of: ^packages\/getSecretLayer
  lint-cloudformation: any of: ^cloudformation
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
